= form_for [@commentable, @comment] do |f|
  - if @comment.errors.any?
    #errorExplanation
      %h2
        = pluralize(@comment.errors.count, "error")
        prohibited
        this report from being saved:
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :content 
  .actions
    = f.submit