%h1 Companies
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Company
        %th Number
        %th Email
        %th County
        %th
        %th
    %tbody
      - @companies.each do |company|
        %div.table-row
          %tr
            %td= link_to company.company_name, company
            %td= company.company_number
            %td= link_to company.company_email, "mailto:#{company.company_email}?subject=Backflow"
            /%a{:href => "mailto:"example@foo.com"?subject=hello world"} Email Me!
            /= company.company_email
            %td= company.company_county
            %td= link_to('Edit', edit_company_path(company), :class => 'btn btn-mini')
            %td= link_to("Delete company", company_path(company), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini')
  = link_to('New', new_company_path, :class => 'btn btn-mini')