%h3 Reports
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Client
        %th Account Number
        %th Registered
        %th Phone
        %th
        %th
    %tbody
      - @reports.each do |report|
        %div.table-row
          %tr
            %td= link_to report.customer_name, report
            %td= report.account_number
            %td= report.date_test.to_date
            %td 999 9999
            /%td= report.phone_number
            %td Edit
            %td View

          -# %td
            %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change role
            = render user
          -# %td= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user
