%h3 Report
-# @report
  Customer: #{@report.customer_name}
%p
  Account: #{@report.account_number}
%p
  Meter: #{@report.account_number}
%p
  Installation: #{@report.account_number}
%p
  Date: #{@report.account_number}
%p
  Expires: #{@report.account_number}
-#  :customer_name, :account_number, :meter_number, :service_address, :installation_type, :date_test, :assembly_height, :assembly_manufacturer, :assembly_model, :assembly_size, :assembly_number, :supply_pressure, :assembly_type, :remarks
