%h3 Report
  Customer: #{@report.customer_name}
%p
  Account: #{@report.account_number}
%p
  Meter: #{@report.meter_number}
%p
  Address: #{@report.service_address}
%p
  Installation: #{@report.installation_type}
%p
  Date: #{@report.date_test}
%p
  Assembly Height: #{@report.assembly_height}
%p
  Manufacturer: #{@report.assembly_manufacturer}
%p
  Model: #{@report.assembly_model}
%p
  Size: #{@report.assembly_size}
%p
  Serial Number: #{@report.assembly_number}
%p
  Supply Pressure at Assembly: #{@report.supply_pressure}
%p
  Discharge Pressure at Assembly: #{@report.discharge_pressure}
%p
  Assembly Type: #{@report.assembly_type}
%p
  Notes: #{@report.remarks}
