= link_to "Backflow", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    /- if current_user.has_role? :admin
    %li
      = link_to 'Users', users_path
    %li
      = link_to 'Reports', reports_path
    - if current_user.has_role? :VIP
      %li
        = link_to 'Users', users_path
      %li
        = link_to 'Reports', reports_path
%div.nav-collapse
  %ul.nav.pull-right
    - if user_signed_in?
      %li.inline
        #{current_user.name}
        = link_to '(edit)', edit_user_registration_path
      - if current_user.has_role? :VIP
        %li
          = link_to 'AdminPanel', rails_admin_path
      - if current_user.has_role? :admin
        %li
          = link_to 'AdminPanel', rails_admin_path
      %li
        = link_to 'Logout', :destroy_user_session
    - else
      %li
        = link_to 'Sign up', :new_user_registration
      %li
        = link_to 'Login', :new_user_session
