!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Backflow"
      %meta{:content => content_for?(:description) ? yield(:description) : "Backflow", :name => "description"}
        = stylesheet_link_tag :application
        /[if lte IE 9]
          = stylesheet_link_tag "ie"
        /[if gte IE 9]
          = stylesheet_link_tag "ie9"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %div.wrapper
      %div.navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'
    %div.full-shadow
      %header
        = render 'layouts/messages'
        = render 'layouts/header'
            
      #main{:role => "main"}
        .container
          .content
            .row
              .span12
                = yield
            %footer
        / ! end of .container
      / ! end of #main
